<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nosotros | Estandar Textil</title>
    <link rel="stylesheet" href="css/main.css" />
    <script
      src="https://kit.fontawesome.com/c176eff3a8.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="about-us__body">
    <%- include('./header') %>
    <img class="about-us__background" src="/images/background-about-pile-of-textile.jpg" alt="" />
    <div class="about-us--control">about-us--control</div>
    <!-- About Us -->
    <section class="about-us content--wrapper">
      <article class="about-us__card">
        <div class="about-us__header">
          <h2 class="about-us__title">mision</h2>
          <div class="about-us__underline"></div>
        </div>
        <div class="about-us__text">
          <p class="about-us__description">
            Somos una empresa textil que trabaja para satisfacer los
            estándares de calidad de nuestros clientes, gracias a nuestra 
            flexibilidad y procesos de entrega inmediatos. Buscando siempre
            agilizar y facilitar los proceso productivos de nuestros clientes y
            el trabajo en la industria textil.
          </p>
        </div>
      </article>
      <article class="about-us__card">
        <div class="about-us__header">
          <h2 class="about-us__title">vision</h2>
          <div class="about-us__underline"></div>
        </div>
        <div class="about-us__text">
          <p class="about-us__description">
            Continuar fortaleciéndonos día a día en el mercado textil nacional e
            internacional con los mejores productos en precio y calidad.
            Teniendo como base la innovación, con productos textiles
            diversificados y de calidad, cuya flexibilidad le permita atender a
            mercados de segmento alto, con diseños y colecciones. Todo ello
            respaldado en una cultura de excelencia operativa, prontitud de
            respuesta, así como un alto nivel de atención a nuestros clientes;
            que nos permita tener un crecimiento con rentabilidad sostenida.
          </p>
        </div>
      </article>
      <article class="about-us__card">
        <div class="about-us__header">
          <h2 class="about-us__title">valores</h2>
          <div class="about-us__underline"></div>
        </div>
        <div class="about-us__text">
          <p class="about-us__description">
            <p class="about-us__description">Honestidad</p>
            <p class="about-us__description">Respeto</p>
            <p class="about-us__description">Confianza</p>
            <p class="about-us__description">Responsabilidad</p>
            <p class="about-us__description">Innovación</p>
            <p class="about-us__description">Calidad</p>
          </p>
        </div>
      </article>
    </section>
    <!-- Our Work -->
    <section class="our-work content--wrapper">
      <h2 class="our-work__title">Nuestro Catalogo</h2>
      <div class="our-work__info">
        <img src="/images/whyus-background.jpg" alt="" class="our-work__bg" />
        <p class="our-work__text">
          Conoce sobre nuestros productos actuales y visitanos de nuevo para conocer las novedades que traemos para ti y tu negocio.
        </p>
      </div>
      <div class="our-work__btn--container">
        <a href="/files/catalogo.pdf" target="_blank" class="our-work__btn--link">
          <button class="btn our-work__btn">Descargar Catalogo</button>
        </a>
      </div>
    </section>
    <!-- Usos -->
    <section class="additional content--wrapper">
      <% usage.forEach(element => { %>
        <article class="additional__card">
          <img class="additional__img" src="<%- element.urls.background %>" alt="">
          <div class="divider"></div>
          <i class="additional__icon <%- element.urls.icon %>"></i>
          <p class="additional__text"><%- element.description  %></p>
          <a href="/products">
            <button class="additional__btn btn">Colecciones</button>
          </a>
        </article>
      <% }) %>
    </section>
    <%- include('./footer') %>
    <script src="/scripts/burger.js"></script>
  </body>
</html>
